/* #start region utilitys */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --zoom-blackbakground: #000000;
    --zoom-greyfooterbar: #222222;
    --zoom-litegreenbotton: #4bc800;
    --zoom-redbottom: #cc1511;
    --zoom-litegreybottom: #4a4a4a;
    --zoom-litegreyname: #626e7b;
    /* misure */
    --zoom-remsm: 0.5rem;
}

/* generic class */
.d-flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
}

/* #end region utilitys */
/* start debug */
/* .debug .fullscreen {
    background-color: #4a4a4a;
}

.debug .speaker_view {
    background-color: aqua;
} */
/* .debug .row{
    background-color: #cc1511;
}
.debug .col{
    background-color: #4bc800;
}
.debug .containe{
    background-color: aqua;
}
.debug .name{
    background-color: yellow;
} */
/* end debug */
/* start header */
body {
    background-color: var(--zoom-blackbakground);
}

header {
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    z-index: 5;
}

header a {
    background-color: var(--zoom-litegreybottom);
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    padding: 0.2rem;
    color: white;
    line-height: 0;
    font-size: 0.5rem;
    border-radius: 0.2rem;
}

/* end header */
.containe{
    justify-content: center;
    overflow: overlay;
}
.row {
    max-width: 1159px;
    height: 100%;
    padding: 3rem 3rem;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
}
.col {
    width: calc(100% / 7);
    height: calc(100% / 5);
    padding: 0 0.2rem;
}

.items {
    position: relative;
    width: 100%;
    height: 100%;
}

.col img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 0.4rem 0.1rem;
}

.col .name {
    background-color: var(--zoom-litegreyname);
    opacity: 80%;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
}

/* footer */
.footerbar {
    background-color: var(--zoom-greyfooterbar);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: fixed;
    bottom: 0;
    height: 60px;
}

.icons ul {
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
}

.icons li {
    padding: 0 0.5rem;
}

.icons a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.icons i {
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.right{
    background-color: var(--zoom-litegreybottom);
    height: 100%;
    text-align: center;

}
.end{
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0 0.5rem;
}
.end p{
    color: var(--zoom-redbottom);
}